NEXT_PUBLIC_API_URL="http://localhost:9999"
NEXT_PUBLIC_STATIC_URL="http://localhost:9999/f"
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST="https://us.posthog.com"
NEXT_PUBLIC_COOKIE_DOMAIN=""
IS_OPEN_SOURCE_ALREADY=false
IS_MURAL_AVAILABLE=true
